{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
  <title>Bank Management System</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
        <header>
           <h1 style="color:white; text-align: center;"> Bank Management System</h1>
        </header>

<body>

  <div class ="container">
      <img id="img1" src="{%  static 'wallet.svg' %}">

    <div class="login-content">
      <form method="POST" class="bootstrap4" >
         {% csrf_token %}
        <img id="img2"src="{% static 'av.svg' %}">
        <h2 class="title">Staff Login</h2>
        
              <div >
                <h5>{{form | crispy}}</h5>
              </div>
                
              <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
</body>
</html>