{% extends 'sidebar.html' %} {% block content %}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-5">
                <h4 class="page-title">Dashboard</h4>
                <div class="d-flex align-items-center">

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8">

                <div class="card-body col-md-12">
                    <div class="d-md-flex align-items-center">

                        <div class="form-group col-md-3">
                            <div class="col-md-12">
                                <a href="deposit.html"> <button style="height: 150px;width: 150px" class="btn btn-success">Register Customer</button>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="col-md-12">
                                <a href="deposit.html"> <button style="height: 150px;width: 150px" class="btn btn-success">Deposite</button>
                                </a>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="col-md-12">
                                <a href="withdraw.html"> <button style="height: 150px;width: 150px" class="btn btn-success">Withdraw</button></a>
                            </div>
                        </div>

                    </div>

                    <div class="d-md-flex align-items-center">

                        <div class="form-group col-md-3">
                            <div class="col-md-12">
                                <a href="transfer-money.html">
                                    <button style="height: 150px;width: 150px" class="btn btn-success">Transfer Money</button>
                                </a>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="col-md-12">
                                <a href="get-loan.html"><button style="height: 150px;width: 150px" class="btn btn-success">Get Loan</button>
                                    </a>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="col-md-12">
                                <a href="Statement.html"> <button style="height: 150px;width: 150px" class="btn btn-success">Statement</button>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    {% endblock content %}