{% extends 'sidebar.html' %} {% load static %} {% block content %}
<!DOCTYPE html>

        <div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Statement Policy </h4>
                        <div class="d-flex align-items-center">
                        
                        </div>
                    </div>
                
                </div>
            </div>

  <div class="container-fluid">

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-12">Account No</label>
                <div class="col-md-12">
                    <input type="number" class="form-control form-control-line" name="acc_no">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-12">Acount Type</label>
                <div class="col-md-12">
                   <select name="acc_type">
                        <option>Savings</option>
                        <option>Current</option>
                        
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">Date: From</label>
                <div class="col-md-12">
                    <input type="date" name="f_date">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12">To</label>
                <div class="col-md-12">
                    <input type="date" name="t_date">
                </div>
            </div>

       
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-success">Show Statement</button>
                </div>
            </div>
        </form>
        {% if customer %}
        <div class="form-group">
                                <h2>Name : {{customer.name}}</h2>
            <div class="col-md-12">Total Balance</div>
            <div class="col-md-12">
                {{customer.balance}}
            </div>
        </div>
        {% endif %}
    </div>
            
        </div>

    </div>
    {% endblock content %}